.main {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0px auto;
    max-width: 1400px;
    gap: 1.5rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    width: 78.5%;
}

.card {
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-shadow: 0px 0px 25px rgba(128, 128, 128, 0.544);
    gap: 1.2rem;
}

.card:hover {
    box-shadow: 0px 0px 50px rgba(128, 128, 128, 0.544);
    transition: 0.3s;
    margin-top: -10px;
}

.card>img {
    width: 100%;
}

.title {
    font-size: 1.25rem;
    color: var(--heading-color);
}

p.description {
    font-size: 15px;
    font-weight: 400;
    color: var(--secondary-color);
    line-height: 24px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

svg {
    font-size: 21px;
}

.info>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

p.info-item {
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.select {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width:769px) {
    .main {
        display: flex;
        justify-content: center;
        align-items: start;
        margin: 0px auto;
        max-width: 1400px;
        gap: 1.5rem;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        width: 65%;
    }
}

@media screen and (max-width: 640px) {
    .main {
        flex-direction: column-reverse;
    }

    .card-container {
        width: 100%;
    }
}